<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.kodreis.springdemo"/>

	<context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    
    <!-- define the dependency
    <bean id="myFortuneService"
    		class="com.kodreis.springdemo.HappyFortuneService">
    	</bean>
    -->
	<!--
    <bean id="myCoach"
        class="com.kodreis.springdemo.TrackCoach">
    </bean>
    -->

	<!--
	<bean id="randomFortuneService"
	class="com.kodreis.springdemo.HappyFortuneService">
	</bean>


   <bean id="myCoach"
       class="com.kodreis.springdemo.BaseballCoach">
	   <constructor-arg ref="randomFortuneService" />
   </bean>

	<bean id="myCricketCoach"
	class="com.kodreis.springdemo.CricketCoach">
		<property name="fortuneService" ref="myFortune"  />
		<property name="team" value="${foo.team}" />
		<property name="email" value="${foo.email}" />
	</bean>
	-->
</beans>





